<div class="row">
    <div class="encabezado">
    <nav class="navbar navbar-light">
    <div class="text-center col-sm-4 col-md-4 col-lg-4"></div>
    <a class="navbar-brand" id="Proyectos" style="color:black;"><h3> Proyectos</h3></a>
    <div class="collapse navbar-collapse" id="navbarColor02"></div>
    <button type="button" class="btn btn-dark" routerLink="/nuevoproy" *ngIf="isLogged">
        Agregar Proyectos
    </button>
  
  </nav>
  </div>


  <div class="cardpro">

  <div *ngFor="let Proyecto of proyect">
    <div>
        <div>
            <div class="row g-0">
              <div class="col-sm-12 col-md-12 col-lg-4">
              
              </div>
              <div class="col">
                <h5>{{Proyecto.tituloProyecto}}</h5>
                <p>{{Proyecto.fechaProyecto}}</p>
                <p>{{Proyecto.descripcionProyecto}}</p>
            </div>
            <div class="col-1">
                <td *ngIf="isLogged">
                    <button routerLink="/editproy/{{Proyecto.id}}">
                        <i class="bi bi-pencil"></i></button>
                </td>
                <td *ngIf="isLogged">
                    <button (click)="delete(Proyecto.id)">
                        <i class="bi bi-trash-fill"></i></button>
                </td>
                <br>
    
            </div>

            <br>
            <br><br><br><br><br><br><br>

        </div>
       


    </div>
    
    </div>
    


               
              
                